@{
    ViewData["Title"] = "Admin Dashboard";
}

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/Admin?uaction=new" class="button"> <span class="icon-plus"></span> Add New</a>
                    </div>
                    <div class="col-md-12 table-product-div">
                        <table class="table-bordered table-product">
                            <tr>
                                <th>Action</th>
                                <th>Name</th>
                                @* <th>Description</th> *@
                                <th>M.R.P.</th>
                                <th>Sale Price</th>
                            </tr>
                            @for (int i = 0; i < Model.Products.Count; i++)
                            {
                                <tr onclick="window.location.href='/Admin?uaction=view&id=@Model.Products[i].ProductId'" class="@(@Model.Products[i].IsActive == true ? "table-product-active": "")">
                                    <td>
                                        <a href="/Admin?uaction=edit&id=@Model.Products[i].ProductId" title="Edit Row" class="tbl-product-btn"> <span class="icon-edit"></span> </a>
                                        <a href="/Admin?uaction=view&id=@Model.Products[i].ProductId" title="View Row" class="tbl-product-btn"> <span class="icon-eye"></span> </a>
                                    </td>
                                    <td>@Model.Products[i].ProductName</td>
                                    @* <td>@Model.Products[i].Description</td> *@
                                    <td>@Model.Products[i].MRPrice</td>
                                    <td>@Model.Products[i].SalePrice</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                @*  @if (@Model.CurrentProduct != null)
                { *@
                <div class="col-md-12 d-flex align-items-center">
                    <div class="bg-white p-5 product-form">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <span style="color:black;">Product Name</span>
                                <input type="text" @(@Model.Action == "view" ? "disabled" : "") title="Product Name" value="@Model.CurrentProduct?.ProductName" name="productname" id="productname" class="form-control" placeholder="Enter Product Name" />
                            </div>
                            <div class="form-group col-md-12">
                                <span style="color:black;">Description</span>
                                <textarea @(@Model.Action == "view" ? "disabled" : "") title="Description" value="@Model.CurrentProduct?.Description" name="description" id="description" class="form-control" placeholder="Enter Description">@Model.CurrentProduct?.Description</textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <span style="color:black;">M.R.P.</span>@Model.CurrentProduct?.MRPrice
                                        <input type="number" @(@Model.Action == "view" ? "disabled" : "") title="MRP" value="@Model.CurrentProduct?.MRPrice" name="mrp" id="mrp" class="form-control" placeholder="Enter M.R.P." />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <span style="color:black;">Sale Price</span>
                                        <input type="number" @(@Model.Action == "view" ? "disabled" : "") title="Sale Price" value="@Model.CurrentProduct?.SalePrice" name="saleprice" id="saleprice" class="form-control" placeholder="Enter Sale Price" />
                                    </div>
                                </div>
                            </div>
                            @* @if (!string.IsNullOrEmpty(@Model.CurrentProduct?.ImagesB64))
                            { *@
                                <img class="form-group col-md-6 img-modal-img" onclick="showImageInModal('product-image')" id="product-image" alt="@(@Model.CurrentProduct?.ProductName)" width="120" height="120" src="@Model.CurrentProduct?.ImagesB64" />
                            @* } *@
                            <div class="form-group col-md-12" @(@Model.Action == "view" ? "hidden" : "")>
                                <span style="color:black;">Upload Image</span><br />
                                <input type="file" onchange="onImageSelected()" title="Upload File" placeholder="Upload Image" accept="image/png, image/jpeg, image/jpg" id="product-image-upload" name="product-image-upload" class="form-group col-md-6" />
                            </div>
                        </div>
                        <div class="form-group" @(@Model.Action == "view" ? "hidden" : "")>
                            <input type="submit" onclick="submitdata('save')" value="Save" class="btn btn-success py-3 px-5"> &nbsp;&nbsp;
                            <input type="submit" onclick="submitdata('delete')" value="Delete" class="btn btn-danger py-3 px-5" @(@Model.Action == "new" ? "hidden" : "")>
                        </div>
                    </div>
                </div>
                @* } *@
            </div>
        </div>
    </div>
</section>

<script>

    setTimeout(function () {
        var user = localStorage.getItem("UserInfo");
        if (user) {
            var userdata = JSON.parse(user);
            if (userdata.role != "Admin") {
                location.href = "User/LoginPage";
            }
        } else {
            location.href = "User/LoginPage";
        }
        var img = document.getElementById('product-image');
        if (img?.src) {
            var uimg = document.getElementById('product-image-upload');
            uimg.files = base64ToFile(img.src);            
        }
    }, 100);

    async function onImageSelected() {
        var imgg = document.getElementById('product-image-upload')
        if (imgg.files?.length == 1) {
            var img = document.getElementById('product-image');
            img.src = await toBase64(imgg.files[0]);
        }
    }

    async function submitdata(action) {
        var user = localStorage.getItem("UserInfo");
        var userdata = JSON.parse(user);
        var data = {
            ProductId: @(@Model.CurrentProduct?.ProductId != null ? @Model.CurrentProduct?.ProductId : 0),
            CreatedBy: userdata.userId,
            ImagesB64: null,
            ProductName: $('#productname').val(),
            Description: $('#description').val(),
            MRPrice: $('#mrp').val(),
            SalePrice: $('#saleprice').val(),
            IsDeleted: action == 'delete',
            IsActive: false
        };

        if (!data.ProductName) {
            showErrorMsg('Please enter Productname.')
            return;
        }
        if (!data.Description) {
            showErrorMsg('Please enter Description.')
            return;
        }
        if (!data.MRPrice) {
            showErrorMsg('Please enter M.R.P.')
            return;
        }
        if (!data.SalePrice) {
            showErrorMsg('Please enter Sale Price.')
            return;
        }

        var imgg = document.getElementById('product-image-upload')
        if (imgg.files?.length == 1) {
            data.ImagesB64 = await toBase64(imgg.files[0]);
        }

        $.post("/Admin/SaveProduct", { product: data })
            .done(function (res) {
                console.log(JSON.stringify(res))
                if (res?.status == "success") {
                    showSuccessMsg(res.message);
                    setTimeout(function () {
                       location = location.href.replace('edit', 'view')
                    }, 2000);
                } else if (res?.status) {
                    showErrorMsg(res.message);
                } else {
                    showErrorMsg("error");
                }
            })
            .fail(function () {
                showErrorMsg("error!");
            });
    }
</script>