@{
    ViewData["Title"] = "Order Product";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 ftco-animate">
                <form action="#" class="billing-form">
                    <h3 class="mb-4 billing-heading">Billing Details</h3>
                    <!--Login Form-->
                    <!--If registerd login directly-->
                    <div class="row align-items-end" id="login-form" hidden>
                        <div class="col-md-12" id="login-form-register">
                            <a href="javascript:;" onclick="document.getElementById('login-form').hidden = true; document.getElementById('register-user-form').hidden = false;"
                            >Not Registred ? Click here to register..</a>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <span style="color:black;">User Name</span>
                                <input type="text" title="User Name" value="Admin" name="username" id="username" class="form-control" placeholder="Enter User Name" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <span style="color:black;">Password</span>
                                <input type="password" title="Password" value="Pass@123" name="password" id="password" class="form-control" placeholder="Enter Password" />
                            </div>
                            </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="submit" onclick="submitlogin()" value="Login" class="btn btn-success py-3 px-3">
                            </div>
                        </div>
                    </div>
                    <!--New user register form-->
                    <!--If not registerd register new user-->
                    <div class="row align-items-end" id="register-user-form" hidden>
                        <div class="col-md-12" id="register-user-form-login">
                            <a href="javascript:;" onclick="document.getElementById('login-form').hidden = false; document.getElementById('register-user-form').hidden = true;"
                            >Already Registred ? Click here to login..</a>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <span style="color:black;">User Name</span>
                                <input type="text" title="User Name" name="r-username" id="r-username" onkeyup="Validate(this)" class="form-control" placeholder="Enter User Name" />
                                <span style="color:red;" id="msg-r-username" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Password</span>
                                <input type="password" title="Password" name="r-password" id="r-password" onkeyup="Validate(this)" class="form-control" placeholder="Enter Password" />
                                <span style="color:red;" id="msg-r-password" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Confirm Password</span>
                                <input type="password" title="Confirm Password" name="confirm-password" id="confirm-password" onkeyup="confirmPwd()" class="form-control" placeholder="Enter Password Again" />
                                <span style="color:red;" id="msg-confirm-password" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">First Name</span>
                                <input type="text" title="First Name" name="firstname" id="firstname" class="form-control" placeholder="Enter First Name" />
                                <span style="color:red;" id="msg-firstname" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Last Name</span>
                                <input type="text" title="Last Name" name="lastname" id="lastname" class="form-control" placeholder="Enter Last Name" />
                                <span style="color:red;" id="msg-lastname" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <span style="color:black;">Gender</span> <br />
                                <input type="radio" id="male" name="gender" value="male"> Male &nbsp;&nbsp;
                                <input type="radio" id="female" name="gender" value="female"> Female &nbsp;&nbsp;
                                <input type="radio" id="other" name="gender" value="other"> Other
                                <br />
                                <span style="color:red;" id="msg-gender" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Mobile No.</span>
                                <input type="number" title="Mobile No." name="mobileno" id="mobileno" onkeyup="Validate(this)" class="form-control" placeholder="Enter Mobile No." />
                                <span style="color:red;" id="msg-mobileno" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Email Id</span>
                                <input type="email" title="Email Id" name="emailid" id="emailid" onkeyup="Validate(this)" class="form-control" placeholder="Enter Email Id" />
                                <span style="color:red;" id="msg-emailid" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Address</span>
                                <input type="email" title="Address" name="address" id="address" class="form-control" placeholder="Enter Address" />
                                <span style="color:red;" id="msg-address" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">City</span>
                                <input type="text" title="City" name="city" id="city" class="form-control" placeholder="Enter City Name" />
                                <span style="color:red;" id="msg-city" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Pin Code</span>
                                <input type="number" title="Pin Code" name="pincode" id="pincode" onkeyup="Validate(this)" class="form-control" placeholder="Enter Pin Code" />
                                <span style="color:red;" id="msg-pincode" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="button" onclick="registeruser()" value="Register" class="btn btn-success py-3 px-5">
                                <input type="button" onclick="resetregisteruser()" value="Reset" class="btn btn-secondary py-3 px-5">
                            </div>
                        </div>
                    </div>
                    <!--Logged in user registerd address details-->
                    <div class="row align-items-end" id="address-label-form" hidden>
                        <div class="col-md-12">
                            <div class="form-group">
                                <table style="width:100%; color: black;">
                                    <tr style="border-bottom: #c0bdbd 1px solid;">
                                        <td>Mobile No.</td>
                                        <td id="tbl-mobno"></td>
                                    </tr>
                                    <tr style="border-bottom: #c0bdbd 1px solid;">
                                        <td>Email Id</td>
                                        <td id="tbl-email"></td>
                                    </tr>
                                    <tr style="border-bottom: #c0bdbd 1px solid;">
                                        <td>Address</td>
                                        <td id="tbl-addr"></td>
                                    </tr>
                                    <tr style="border-bottom: #c0bdbd 1px solid;">
                                        <td>City</td>
                                        <td id="tbl-city"></td>
                                    </tr>
                                    <tr style="border-bottom: #c0bdbd 1px solid;">
                                        <td>Pin Code</td>
                                        <td id="tbl-pin"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12" id="register-user-form-login">
                            <label style="cursor: pointer; color: #82ae46;" onchange="document.getElementById('address-form').hidden = document.getElementById('address-form').hidden !== true;">
                                <input type="checkbox" name="optradio" id="open-ship-to-diff"> Ship to different address
                            </label>
                        </div>
                    </div>
                    <!--ship to different address-->
                    <div class="row align-items-end" id="address-form" hidden>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Mobile No.</span>
                                <input type="number" title="Mobile No." name="a-mobileno" id="a-mobileno" onkeyup="Validate(this)" class="form-control" placeholder="Enter Mobile No." />
                                <span style="color:red;" id="msg-a-mobileno" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Email Id</span>
                                <input type="email" title="Email Id" name="a-emailid" id="a-emailid" onkeyup="Validate(this)" class="form-control" placeholder="Enter Email Id" />
                                <span style="color:red;" id="msg-a-emailid" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Address</span>
                                <input type="text" title="Address" name="a-address" id="a-address" class="form-control" placeholder="Enter Address" />
                                <span style="color:red;" id="msg-a-address" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">City</span>
                                <input type="text" title="City" name="a-city" id="a-city" class="form-control" placeholder="Enter City Name" />
                                <span style="color:red;" id="msg-a-city" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Pin Code</span>
                                <input type="number" title="Pin Code" name="a-pincode" id="a-pincode" onkeyup="Validate(this)" class="form-control" placeholder="Enter Pin Code" />
                                <span style="color:red;" id="msg-a-pincode" hidden></span>
                            </div>
                        </div>
                    </div>
                </form><!-- END -->
            </div>
            <div class="col-xl-5">
                <div class="row mt-5 pt-3">
                    <!--Order Summary-->
                    <div class="col-md-12 d-flex mb-5">
                        <div class="cart-detail cart-total p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Order Summary</h3>
                            <p class="d-flex">
                                <span style="font-weight: bold;">Item</span>
                                <span style="font-weight: bold;">Quantity</span>
                                <span style="font-weight: bold;">Rate</span>
                                <span style="font-weight: bold;">Total</span>
                            </p>
                            @for (int i = 0; i < Model.productList.Count; i++) {
                            <p class="d-flex">
                                    <span>@Model.productList[i].Product.ProductName</span>
                                    <span>@Model.productList[i].Quantity @Model.productList[i].QuantityUnit</span>
                                    <span>₹@Model.productList[i].Product.MRPrice</span>
                                    <span>₹@Model.productList[i].MrpAmount</span>
                            </p>
                            }
                            <p class="d-flex">
                            </p>
                            <p class="d-flex">
                                <span>Delivery</span>
                                <span></span>
                                <span></span>
                                <span>₹0.00</span>
                            </p>
                            <p class="d-flex">
                                <span>Discount</span>
                                <span></span>
                                <span></span>
                                <span>- ₹@Model.Discount</span>
                            </p>
                            <p class="d-flex">
                                <span style="width: 100%;">Coupon Discount</span>
                                <span></span>
                                <span>- ₹@Model.CouponDiscount</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span>Total</span>
                                <span></span>
                                <span></span>
                                <span>₹@Model.Total</span>
                            </p>
                            <p class="d-flex">
                                <span style="min-width: 75%;">Delivery Date</span>
                                <span id="dt-delivery"></span>
                            </p>
                        </div>
                    </div>
                    <!--Payment Method-->
                    <div class="col-md-12">
                        <div class="cart-detail p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Payment Method</h3>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="payment-method" class="mr-2" value="DBT"> Direct Bank Transfer</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="payment-method" class="mr-2" value="CP"> Cheque Payment</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="payment-method" class="mr-2" value="UPI"> UPI</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="payment-method" class="mr-2" value="COD"> Cash On Delivery</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="term-cond" id="term-cond" value="allowed" class="mr-2"> I have read and accept the terms and conditions</label>
                                    </div>
                                </div>
                            </div>
                            <p><a href="javascript:;" onclick="placeOrder()" class="btn btn-success py-3 px-4" style="width:100%;">Place an order</a></p>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section>

<script>
    function checkNumber(id) {
        let inputVal = $('#' + id).val();
        if (validation.isNumber(inputVal) == false) {
            showWarningMsg('Only Numbers Allowed');
            $('#' + id).val(inputVal.replace(/\D/gm, ""));
        }
    }

    let DeliveryDate = new Date();

    setTimeout(onPageLoad, 500);
    function onPageLoad() {
        DeliveryDate.setDate(DeliveryDate.getDate() + Math.floor(Math.random() * 6) + 1);
        document.getElementById('dt-delivery').innerText = formatDate(DeliveryDate);
        var user = localStorage.getItem("UserInfo");
        if (user) {
            let userdata = JSON.parse(user);

            document.getElementById('tbl-mobno').innerText = userdata.mobileNo;
            document.getElementById('tbl-email').innerText = userdata.emailId;
            document.getElementById('tbl-addr').innerText = userdata.address;
            document.getElementById('tbl-city').innerText = userdata.city;
            document.getElementById('tbl-pin').innerText = userdata.pinCode;

            document.getElementById('login-form').hidden = true;
            document.getElementById('register-user-form').hidden = true;
            document.getElementById('address-label-form').hidden = false;

        } else {
            document.getElementById('login-form-register').hidden = false;
            document.getElementById('register-user-form').hidden = false;
            document.getElementById('register-user-form-login').hidden = false;
            document.getElementById('address-label-form').hidden = true;
        }
    }

    function registeruser() {
        var data = {
            UserName: $('#r-username').val(),
            Password: $('#r-password').val(),
            ConfirmPassword: $('#confirm-password').val(),
            FirstName: $('#firstname').val(),
            LastName: $('#lastname').val(),
            Gender: $("input[type='radio'][name='gender']:checked").val() ?? '',
            MobileNo: $('#mobileno').val(),
            EmailId: $('#emailid').val(),
            Address: $('#address').val(),
            City: $('#city').val(),
            PinCode: $('#pincode').val(),
            Role: 'Customer',
            IsActive: true,
            IsDeleted: false,

        };
        let isValid = true;
        if (Validate({ id: 'r-username', value: data.UserName }) == false && isValid == true) isValid = false;
        if (Validate({ id: 'r-password', value: data.Password }) == false && isValid == true) isValid = false;
        if (Validate({ id: 'confirm-password', value: data.ConfirmPassword }) == false && isValid == true) isValid = false;
        if (Validate({ id: 'firstname', value: data.FirstName }) == false && isValid == true) isValid = false;
        if (Validate({ id: 'lastname', value: data.LastName }) == false && isValid == true) isValid = false;
        if (Validate({ id: 'gender', value: data.Gender }) == false && isValid == true) isValid = false;
        if (Validate({ id: 'mobileno', value: data.MobileNo }) == false && isValid == true) isValid = false;
        if (Validate({ id: 'emailid', value: data.EmailId }) == false && isValid == true) isValid = false;
        if (Validate({ id: 'address', value: data.Address }) == false && isValid == true) isValid = false;
        if (Validate({ id: 'city', value: data.City }) == false && isValid == true) isValid = false;
        if (Validate({ id: 'pincode', value: data.PinCode }) == false && isValid == true) isValid = false;
        if (isValid == false) {
            showErrorMsg('Please fill the required fields');
            return;
        }

        $.post("/User/RegisterUser", { data: data })
            .done(function (res) {
                if (res?.status == "success") {
                    showSuccessMsg(res.message);
                    $('#username').val(data.UserName);
                    $('#password').val(data.Password);

                    setTimeout(submitlogin(), 500);
                    resetregisteruser();
                } else if (res?.status) {
                    showErrorMsg(res.message);
                } else {
                    showErrorMsg("error");
                }
            })
            .fail(function () {
                showErrorMsg("error");
            });
    }

    function resetregisteruser() {
        $('#r-username').val('');
        $('#r-password').val('');
        $('#confirm-password').val('');
        $('#firstname').val('');
        $('#lastname').val('');
        $("input[type='radio'][name='gender']").prop('checked', false);
        $('#mobileno').val('');
        $('#emailid').val('');
        $('#address').val('');
        $('#city').val('');
        $('#pincode').val('');
    }

    function confirmPwd() {
        var Password = $('#r-password').val();
        var ConfirmPassword = $('#confirm-password').val();
        var errmsg = document.getElementById('msg-confirm-password');
        if (Password == ConfirmPassword) {
            errmsg.hidden = true;
        } else {
            errmsg.hidden = false;
            errmsg.innerHTML = 'Password not matched!';
        }
    }

    function Validate(ev) {
        let msgelement = document.getElementById('msg-' + ev.id);
        if (ev.id == 'r-username') {
            msgelement.hidden = validation.isNotEmpty(ev.value);
            msgelement.innerHTML = 'Username is mandatory';
        } else if (ev.id == 'r-password') {
            msgelement.hidden = validation.isPassword(ev.value);
            msgelement.innerHTML = 'Password must contain minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character';
        } else if (ev.id == 'confirm-password') {
            msgelement.hidden = ev.value != undefined && ev.value != '' && ev.value != null;
            msgelement.innerHTML = 'Password not matched!';
        } else if (ev.id == 'gender') {
            msgelement.hidden = $("input[type='radio'][name='gender']:checked").val() != undefined && $("input[type='radio'][name='gender']:checked").val() != '' && $("input[type='radio'][name='gender']:checked").val() != null
            msgelement.innerHTML = 'Select Gender';
        } else if (ev.id == 'mobileno' || ev.id == 'a-mobileno') {
            msgelement.hidden = validation.isNumber(ev.value) && ev.value?.length != 10
            msgelement.innerHTML = 'Enter Correct mobile number.';
        } else if (ev.id == 'emailid' || ev.id == 'a-emailid') {
            msgelement.hidden = validation.isEmailAddress(ev.value)
            msgelement.innerHTML = 'Enter Correct email. Ex- myemail@domain.co';
        } else if (ev.id == 'a-address') {
            msgelement.hidden = validation.isNotEmpty(ev.value);
            msgelement.innerHTML = 'Address is mandatory';
        } else if (ev.id == 'a-city') {
            msgelement.hidden = validation.isNotEmpty(ev.value);
            msgelement.innerHTML = 'Address is mandatory';
        } else if (ev.id == 'pincode' || ev.id == 'a-pincode') {
            msgelement.hidden = !(validation.isNumber(ev.value) && ev.value?.length != 6) && validation.isNotEmpty(ev.value);
            msgelement.innerHTML = 'Only numbers allowed with 6 digit length';
        }
        return msgelement.hidden;
    }

    function submitlogin() {
        var data = {
            UserName: $('#username').val(),
            Password: $('#password').val(),
        };

        $.post("/User/Login", { data: data })
            .done(function (res) {
                if (res?.status == "success") {
                    showSuccessMsg(res.message);
                    localStorage.setItem("UserInfo", JSON.stringify(res.data.user));

                    setTimeout(window.location.reload(), 500);
                } else if (res?.status) {
                    showErrorMsg(res.message);
                } else {
                    showErrorMsg("error");
                }
            })
            .fail(function () {
                showErrorMsg("error");
            });
    }

    function placeOrder() {
        let paymentmetho = $("input[type='radio'][name='payment-method']:checked").val() ?? '';
            if (paymentmetho == '') {
                showErrorMsg('Please select payment method');
                return;
            }
        if ($('input[name="term-cond"]:checked').serialize() == '') {
            showErrorMsg('Please accept term and condition');
            return;
        }

        var user = localStorage.getItem("UserInfo");
        if (user) {
            let userdata = JSON.parse(user);
            let data = {};
            //shipping to current address
            if (document.getElementById('address-form').hidden == true) {
                data.MobileNo = userdata.mobileNo;
                data.EmailId = userdata.emailId;
                data.Address = userdata.address;
                data.City = userdata.city;
                data.PinCode = userdata.pinCode;
            } else {
                data.MobileNo = $('#a-mobileno').val();
                data.EmailId = $('#a-emailid').val();
                data.Address = $('#a-address').val();
                data.City = $('#a-city').val();
                data.PinCode = $('#a-pincode').val();

                let isValid = true;
                if (Validate({ id: 'a-mobileno', value: data.MobileNo }) == false && isValid == true) isValid = false;
                if (Validate({ id: 'a-emailid', value: data.EmailId }) == false && isValid == true) isValid = false;
                if (Validate({ id: 'a-address', value: data.Address }) == false && isValid == true) isValid = false;
                if (Validate({ id: 'a-city', value: data.City }) == false && isValid == true) isValid = false;
                if (Validate({ id: 'a-pincode', value: data.PinCode }) == false && isValid == true) isValid = false;
                if (isValid == false) {
                    showErrorMsg('Please fill the required fields');
                    return;
                }
            }

            data.CreatedBy = userdata.userId;
            data.CreatedOn = formatDate(new Date());
            data.IsDeleted = false;
            data.OrderDate = formatDate(new Date());
            data.PaymentMethod = $("input[type='radio'][name='payment-method']:checked").val();
            data.DeliveryDate = formatDate(DeliveryDate);
            data.DeliveryStatus = 'Order Placed';
            data.ProductOrders = [];

            let order = @Html.Raw(Json.Serialize(Model.order));
            data.CouponId = order.couponId;
            data.Coupon = order.coupon;

            let prodLst = @Html.Raw(Json.Serialize(Model.productList));

            prodLst.forEach(p => {
                data.ProductOrders.push({
                    ProductId: p.productId,
                    Quantity: p.quantity,
                    QuantityUnit: p.quantityUnit,
                    Amount: p.amount,
                    MrpAmount: p.mrpAmount,
                    CreatedBy: userdata.userId,
                    CreatedOn: new Date(),
                    IsDeleted: false
                });
            })

            console.log(data);
            placeOrderAPI(data);

        } else {
            showInfoMsg('Please login first');
            document.getElementById('login-form-register').hidden = false;
            document.getElementById('register-user-form-login').hidden = false;
        }
    }
    
    function placeOrderAPI(data) {
        $.post("/Shop/PlaceOrder", { orders: data })
            .done(function (res) {
                if (res?.status == "success") {
                    showSuccessMsg(res.message);
                    setTimeout(function () {
                        window.location = "/Shop/UserOrders"
                    }, 1000);
                } else if (res?.status) {
                    showErrorMsg(res.message);
                } else {
                    showErrorMsg("error");
                }
            })
            .fail(function () {
                showErrorMsg("error");
            });
    }
</script>